img{
    height: 850px;
    max-width: 1289px;
    display: block;
    margin: auto;
}

#tudo {
    max-width: 1750px;
    display: block;
}

.butao{
    position: absolute;
    background-color: rgb(3, 187, 3);
    width: 50px;
    border-radius: 5px;
    opacity: 0.3;
}

.butao:hover {
    cursor: pointer;
}

#bt1 {
    margin-top: -695px;
    margin-left: 548px;
}

#bt2{
    margin-top: -580px;
    margin-left: 505px;
}

#bt3 {
    margin-top: -427px;
    margin-left: 468px;
}

#bt4 {
    margin-top: -286px;
    margin-left: 420px;
}

#bt5{
    margin-top: -244px;
    margin-left: 695px;
}

#bt6{
    margin-top: -364px;
    margin-left: 645px;
}

#bt7{
    margin-top: -497px;
    margin-left: 612px;
}

#bt8{
    margin-top: -754px;
    margin-left: 897px;
}

#bt9{
    margin-top: -636px;
    margin-left: 846px;
}

#bt10{
    margin-top: -551px;
    margin-left: 779px;
}

#bt11{
    margin-top: -247px;
    margin-left: 979px;
}

#bt12{
    margin-top: -356px;
    margin-left: 938px;
}

#bt13{
    margin-top: -490px;
    margin-left: 908px;
}

#bt14{
    margin-top: -709px;
    margin-left: 1167px;
}

#bt15{
    margin-top: -600px;
    margin-left: 1126px;
}

#bt16{
    margin-top: -485px;
    margin-left: 1094px;
}

#bt17{
    margin-top: -368px;
    margin-left: 1075px;
}

#bt18{
    margin-top: -294px;
    margin-left: 1260px;
}

#bt19{
    margin-top: -417px;
    margin-left: 1215px;
}

#bt20{
    margin-top: -483px;
    margin-left: 1380px;
}

#semJogador{
    background-image: url(backgroundSemJogadores.png);
    width: 1300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 835px;
    text-align: center;
    display: block;
    margin: auto;
    position: relative;
}

#cx {
    padding: 10px;
    color: white;
    position: absolute;
    font-size: 2.8rem;
    background-image: linear-gradient(to top, rgb(69, 207, 69), rgb(2, 80, 2));
    top:22%;
    left: 26.7%;
    border-radius: 15px;
}


#sortear {
    width: 98%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(1, 143, 1);
    color: white;
    font-weight: bolder;
    cursor: pointer;
    border: none;
}

#perguntas {
    width: 98%;
    margin-left: 1%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(1, 143, 1);
    color: white;
    font-weight: bolder;
    cursor: pointer;
    border: none;
}

.todos{
    background-image: linear-gradient(to bottom, rgb(35, 170, 35), rgb(0, 70, 0));
    color: white;
    font-size: 1.8rem;
    position: absolute;
    padding: 10px;
    border-radius:10px;
    text-shadow: 1px 5px 5px rgba(255, 255, 255, 0.384);
    text-align: center;
}

.btnOption1 {
    background-color:rgb(5, 224, 5);
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-weight: bolder;
    cursor: pointer;

}

.btnOption2 {
    background-color:red;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

#bt01 {
    margin-top: -670px;
    margin-left: 300px;
}

#bt02 {
    margin-top: -550px;
    margin-left: 110px;
}

#bt03 {
    margin-top: -400px;
    margin-left: 105px;
}

#bt04 {
    margin-top: -515px;
    margin-left: 75px;
}

#bt05 {
    margin-top: -460px;
    margin-left:220px;
}

#bt06 {
    margin-top: -580px;
    margin-left:175px;
}

#bt07 {
    margin-top: -465px;
    margin-left:150px;
}

#bt08{
    margin-top: -725px;
    margin-left:390px;
}

#bt09{
    margin-top: -600px;
    margin-left:212px;
}

.resposta{
    opacity: 0.01;
}

.resposta:hover {
    opacity: 1;
    cursor: pointer;
}

#bt010 {
    margin-top: -515px;
    margin-left:490px;
}

#bt011 {
    margin-top: -490px;
    margin-left:330px;
}

#bt012 {
    margin-top: -665px;
    margin-left:530px;
}

#bt013 {
    margin-top: -722px;
    margin-left:680px;
}

#bt014 {
    margin-top: -680px;
    margin-left:760px;
}

#bt015 {
    margin-top: -570px;
    margin-left:795px;
}

#bt016 {
    margin-top: -452px;
    margin-left:755px;
}

#bt017 {
    margin-top: -335px;
    margin-left:645px;
}

#bt018 {
    margin-top: -530px;
    margin-left:870px;
}

#bt019 {
    margin-top: -720px;
    margin-left:935px;
}

#bt020{
    margin-top: -590px;
    margin-left: 470px;
}

.vouf {
    opacity: 0;
}

.vouf:hover {
    opacity: 1;
}

#bt21 {
    margin-left: 750px;
    margin-top: -65px;
    width: 250px;
    padding: 10px;
    opacity: 1;
    color: white;
    border: none;
    border-radius: 10px;
}